
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4 w-100" style="max-width: 400px;">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }

        <h2 class="text-center mb-4 text-success fs-1">Login</h2>

        @using (Html.BeginForm("Login", "LoginSignup", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            <div class="mb-3">
                @*@Html.Label("username", "Username", new { @class = "form-label" })*@
                @Html.TextBox("username", null, new { @class = "form-control w-100", placeholder = "Enter your username" })
                @Html.ValidationMessage("username", "", new { @class = "text-danger" })

            </div>

            <div class="mb-3">
                @*@Html.Label("pass", "Password", new { @class = "form-label" })*@
                @Html.Password("pass", null, new { @class = "form-control w-100", placeholder = "Enter your password", required = "required" })
                @Html.ValidationMessage("pass", "", new { @class = "text-danger" })


            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success w-100">Login</button>
                <p class="text-center fs-6">
                    Don't have an account
                    @*<a href="#"> signup </a>*@
                    @Html.ActionLink("Signup", "Signup", "LoginSignup")
                </p>
            </div>
        }
    </div>
</div>



